.Machine {
  border: 2px solid black;
  background: rgb(85, 130, 172);
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  background-color: rgb(40, 90, 40);
  margin: auto;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

body {
  border: 2px solid black;
}

.win {
  background: rgb(118, 172, 118);
  color: white;
}
.lose {
  background: rgb(151, 0, 0);
  color: white;
}
